@media screen and (max-width: 900px) {
    a {
        text-decoration: none;
        color: #000;
    }
    li {
        list-style: none;
    }
    h2 {
        font-weight: normal;
        letter-spacing: 8px;
        font-size: 2.8rem;
        position: relative;
        display: inline-block;
    }
    h2 span {
        letter-spacing: normal;
        font-size: 1rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    /* HEADER */
    header {
        display: flex;
        justify-content: space-between;
        height: auto;
        align-items: center;
        margin: 12px;
    }
    .header-wrap {
        width: 100%;
        margin: 0 auto;
    }
    .header-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .logo {
        width: 100px;
    }
    .logo img {
        max-width: 100%;
        height: auto;
    }
    header ul {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 8px;
    }
    header ul li {
        list-style: none;
        margin-left: unset;
    }
    .contact {
        display: none;
    }
    .MV-TOP {
        width: 100%;
    }
    .MV-TOP img {
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
    /* NEWS */
    .NEWS {
        width: 100%;
        margin: 70px 12px;
    }
    .title h2 {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    .title h2 span {
        font-size: 0.8rem;
    }
    h2:after {
        content: '';
        display: block;
        position: absolute;
        left: 18px;
        transform: translate(-50%);
        bottom: -25px;
        width: 35px;
        height: 1px;
        background-color: #000;
    }
    .NEWS-lineup {
        margin-top: 70px;
    }
    .NEWS-lineup ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
    }
    .NEWS-lineup ul li:not(:first-child) {
        padding-left: 0;
        border-left: none;
    }
    .time span {
        color: #fff;
        background-color: #000;
        padding: 4px 6px;
        font-size: 0.8rem;
    }
    .NEWS-lineup p {
        margin-top: 18px;
    }
    /* ABOUT */
    .ABOUT {
        display: unset;
        flex-wrap: unset;
        margin-bottom: 70px;
    }
    .ABOUT-img {
        width: 100%;
    }
    .ABOUT-img img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .ABOUT-text {
        width: 100%;
        padding: 10px 12px;
    }
    .ABOUT-text p {
        margin-top: 70px;
    }
    /* BUSINESS */
    .BUSINESS {
        width: 100%;
        margin: unset;
        padding: 70px 12px;
    }
    .BUSINESS-contents {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        margin-top: 70px;
    }
    .BUSINESS-contents-left {
        width: 100%;
        margin-top: unset;
    }
    .BUSINESS-contents-right {
        width: 100%;
    }
    .content {
        margin-bottom: 40px;
    }
    .content img {
        width: 100%;
        margin-top: 10px;
    }
    .content h3::before {
        content: "ãƒ¼";
        padding-right: 8px;
    }
    /* COMPANY */
    .COMPANY {
        width: 100%;
        padding: 0 12px;
        margin: unset;
        position: unset;
    }
    .text-wrap {
        width: 100%;
        padding: 35px 20px;
        background-color: #fff;
    }
    .title dl {
        margin-top: 70px;
    }
    dl {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: 0.9rem;
    }
    dt {
        width: 20%;
        margin-bottom: 8px;
    }
    dd {
        width: 80%;
        margin-bottom: 8px;
    }
    .COMPANY-add {
        margin-left: 20%;
    }
    .COMPANY-img {
        width: 100%;
        position: unset;
        top: unset;
        left: unset;
        margin-top: 16px;
    }
    .COMPANY-img img {
        height: 470px;
        width: 100%;
        object-fit: cover;
    }
    /* footer */
    footer {
        background-color: #fff;
    }
    .footer-wrap {
        width: 100%;
        height: 240px;
        padding: 0 12px;
    }
    .footer-wrap p {
        font-size: 0.8rem;
    }
    .footer-2column {
        display: flex;
        align-items: unset;
        padding: 40px 0;
        flex-direction: column;
        text-align: left;
    }
    .footer-logo {
        width: 130px;
    }
    .footer-logo img {
        width: 100%;
    }
    .footer-text {
        margin-top: 14px;
    }
}