body {
    margin: 0;
    font-family: Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif;
    background-color: #f0f0f0;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
}

.logo {
    margin-left: 80px;
}

.logo img {
    width: 150px;
    max-width: 100%;
    height: auto;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul li {
    list-style: none;
    margin-left: 50px;
}

.contact {
    background-color: #000;
    padding: 23px 40px;
}

.contact a {
    color: #fff;
}

.MV-TOP {
    width: 100%;
}

.MV-TOP img {
    width: 100%;
}


/* NEWS */

.NEWS {
    width: 1000px;
    margin: 50px auto;
}

.title h2 {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.title h2 span {
    font-size: 0.8rem;
}

.NEWS-lineup ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}