body {
    margin: 0;
    font-family: Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif;
    background-color: #f0f0f0;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

h2 {
    font-weight: normal;
    letter-spacing: 8px;
    font-size: 1.8rem;
    position: relative;
    display: inline-block;
}

h2 span {
    letter-spacing: normal;
    font-size: 1rem;
}

h3 {
    font-size: 0.8rem;
}

p {
    line-height: 2.2;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    margin: 0 auto;
}

.header-wrap {
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 100px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul li {
    list-style: none;
    margin-left: 50px;
}

.contact {
    background-color: #000;
    color: #fff;
    display: inline-block;
    width: 200px;
    height: 100%;
    text-align: center;
    line-height: 80px;
    font-size: 0.75rem;
}

.MV-TOP {
    width: 100%;
}

.MV-TOP img {
    width: 100%;
    height: calc(100vh - 70px);
    object-fit: cover;
}


/* NEWS */

.NEWS {
    width: 1000px;
    margin: 70px auto;
}

.title h2 {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.title h2 span {
    font-size: 0.8rem;
}

h2:after {
    content: '';
    display: block;
    position: absolute;
    left: 18px;
    transform: translate(-50%);
    bottom: -25px;
    width: 35px;
    height: 1px;
    background-color: #000;
}

.NEWS-lineup {
    margin-top: 70px;
}

.NEWS-lineup ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.NEWS-lineup ul li:not(:first-child) {
    padding-left: 20px;
    border-left: solid 1px #000;
}

.time span {
    color: #fff;
    background-color: #000;
    padding: 4px 6px;
    font-size: 0.8rem;
}

.NEWS-lineup p {
    margin-top: 18px;
}


/* ABOUT */

.ABOUT {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.ABOUT-img {
    width: 60%;
}

.ABOUT-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.ABOUT-text {
    width: 40%;
    padding: 15% 4% 0 4%;
}

.ABOUT-text p {
    margin-top: 70px;
}


/* BUSINESS */

.BUSINESS {
    max-width: 1000px;
    margin: 70px auto;
}

.BUSINESS-contents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-between;
    padding: 0 10%;
}

.BUSINESS-contents-left {
    width: 46%;
    margin-top: 90px;
}

.BUSINESS-contents-right {
    width: 46%;
}

.content {
    margin-bottom: 40px;
}

.content img {
    width: 100%;
    margin-top: 10px;
}

.content h3::before {
    content: "ー";
    padding-right: 8px;
}


/* COMPANY */

.COMPANY {
    width: 1000px;
    margin: 70px auto;
    position: relative;
}

.text-wrap {
    width: 55%;
    padding: 80px 70px 80px 40px;
    background-color: #fff;
}

.title dl {
    margin-top: 70px;
}

dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 0.9rem;
}

dt {
    width: 20%;
    margin-bottom: 8px;
}

dd {
    width: 80%;
    margin-bottom: 8px;
}

.COMPANY-add {
    margin-left: 20%;
}

.COMPANY-img {
    width: 500px;
    position: absolute;
    top: 13%;
    left: 50%;
}

.COMPANY-img img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}


/* footer */

footer {
    background-color: #fff;
    padding-bottom: 20px;
}

.footer-wrap {
    max-width: 1000px;
    margin: 0 auto;
}

.footer-wrap p {
    font-size: 0.8rem;
}

.footer-2column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-logo {
    width: 150px;
}

.footer-logo img {
    width: 100%;
}