body {
    margin: 0;
    font-family: Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif;
    background-color: #f0f0f0;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

h2 {
    font-weight: normal;
    letter-spacing: 8px;
    font-size: 1.8rem;
    position: relative;
    display: inline-block;
}

h2 span {
    letter-spacing: normal;
    font-size: 1rem;
}

h3 {
    /* font-weight: normal; */
    font-size: 1rem;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
}

.logo {
    margin-left: 80px;
}

.logo img {
    width: 150px;
    max-width: 100%;
    height: auto;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul li {
    list-style: none;
    margin-left: 50px;
}

.contact {
    background-color: #000;
    padding: 23px 40px;
}

.contact a {
    color: #fff;
}

.MV-TOP {
    width: 100%;
}

.MV-TOP img {
    width: 100%;
}


/* NEWS */

.NEWS {
    width: 1000px;
    margin: 70px auto;
}

.title h2 {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.title h2 span {
    font-size: 0.8rem;
}

h2:after {
    content: '';
    display: block;
    position: absolute;
    left: 18px;
    transform: translate(-50%);
    bottom: -25px;
    width: 35px;
    height: 1px;
    background-color: #000;
}

.NEWS-lineup {
    margin-top: 70px;
}

.NEWS-lineup ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.time span {
    color: #fff;
    background-color: #000;
    padding: 4px 6px;
    font-size: 0.8rem;
}

.NEWS-lineup p {
    margin-top: 18px;
}


/* ABOUT */

.ABOUT {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.ABOUT-img {
    width: 60%;
}

.ABOUT-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.ABOUT-text {
    width: 40%;
    padding: 15% 4% 0 4%;
}

.ABOUT-text p {
    margin-top: 70px;
}


/* BUSINESS */

.BUSINESS {
    width: 1000px;
    margin: 70px auto;
}

.BUSINESS-contents {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 70px;
}

.BUSINESS-contents-left {
    width: 50%;
    margin-top: 90px;
}

.BUSINESS-contents-right {
    width: 50%;
}

.content {
    margin-bottom: 40px;
}

.content img {
    width: 85%;
    margin-top: 10px;
}